/* ==========================================================================
   960px - 12 columns - 20px gutter
   ========================================================================== */
*{padding:0;margin:0;}
body{font-family:Lato,"Helvetica Neue",Helvetica,sans-serif;}
a:link, a:visited, a:active, a:hover{text-decoration:none;}
input,select{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.centerize{text-align:center;}
.margin50{margin-top:50px;}

ul{list-style:none;}


#header{}

#top{background-color:#fff;box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);width:100%;z-index:9999;}
.fixed-nav{position:fixed;top:0px;left:0px;}
.fixed-body{margin-top:90px;}
img{max-width:100%;}

div#logo{float:left;}
div#logo img{height:40px;float:left;margin-top:21px;margin-right: 10px;}
div#logo a{font-size:18px;line-height:90px;font-weight:300;color:#272727;text-transform:uppercase;}
a#nav-trigger{display:none;}

#nav{text-align:right;}
#nav ul{list-style:none;}
#nav ul li{display:inline-block;position:relative;}
#nav ul li:hover,#nav ul li.selected{box-shadow: inset 0 4px 0 0 #ff2a13;}
#nav ul li.selected a, #nav ul li a:hover{color:#b7b7b7;}
#nav ul li a{display:block;height:90px;line-height:90px;text-decoration:none;text-transform:uppercase;font-weight:400;color:#272727;font-size:12px;padding:0px 10px;}

#nav ul li#flag:hover div{display:block;}
#nav ul li#flag div{position:absolute;width:36px;top:90px;right:0px;background-color:#fff;display:none;box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);z-index: 9998;}
#nav ul li#flag div a{display:block;height:40px;line-height:40px;}
#nav ul li#flag div a:hover{box-shadow:none;background-color:#fafafa;}

/* Section Home */
#home{background:#eee url(../images/bg-1.png) repeat;text-align:center;padding:100px 0px;}
#home p{color:#848484;font-size:24px;font-weight:300;line-height:170%;}
h2.head-line{font-size:54px;font-weight:400;text-transform:uppercase;padding:30px 0px;}
h2.sub-head-line{font-size:34px;font-weight:400;text-transform:uppercase;padding:30px 0px;}

/* Rent a developer */
.white-row{border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#fff;padding:50px 0px;text-align:center;}
#rent-a-developer{background:#eee url(../images/bg2.png) repeat;color:#848484;padding:70px 0px 0px 0px;}
#rent-developer-footer p{font-size:24px;color:#848484;font-weight:300;line-height:170%;}
.inner{position:relative;}

#rent-a-developer .row .icon-box i{transition: all .3s ease-in-out;}
#rent-a-developer .row:hover .icon-box i{transform: scale(1.4);}

#rent-a-developer .row{clear:both;min-height:80px;position:relative;color:#848484;}
#rent-a-developer .row span.icon-box{display:block;float:left;border-radius:50%;text-align:center;}
#rent-a-developer .row span.icon-box i{display:block;line-height:80px;width:80px;}
#rent-a-developer .row p{padding-top:20px;text-align:left;font-size:21px;font-weight:300;line-height:150%;padding-left:100px;}
#rent-a-developer .row:hover{color:#ff2a13;}

#img-competency{max-width:100%;text-align:center;display:block;margin-top:50px;}
a.btn,.btn{cursor: pointer;padding:20px 50px;font-size: 21px;font-weight:300;text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);text-transform: none;border:1px #ac1100;color: #fff;background-color: #ff2a13;border-radius: 0.225em;-webkit-box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);}

/* rent a fulltime developer with image bg */
#rent-fulltime-developer-img{color:#fff;background:#333 url(../images/human-bg.jpg) no-repeat center center;background-size:cover;padding:100px 0px;text-shadow:0px 1px 6px #000;}
#rent-fulltime-developer-img h2.sub-head-line{text-transform:none;}
#rent-fulltime-developer-img h2 span{color:#ff2a13;}

/* Skill list */
#skill-list{background:#eee url(../images/bg-1.png) repeat;padding:50px 0px;}
div.col{width:25%;box-sizing:border-box;float:left;position:relative;font-weight:300;}
div.col:last-of-type ul li{border-right:1px solid #ebebeb;}
div.col ul{list-style:none;margin:20px 0px;}
div.col ul li{border-top:1px solid #ebebeb;padding: 10px 40px 11px;border-left:1px solid #ebebeb;color:#848484;}
div.col ul li:last-of-type{border-bottom:1px solid #ebebeb;}
div.col ul li:nth-child(2n+1){background-color:#fbfbfb;}
div.col ul li:nth-child(2n){background-color:#fff;}
div.col ul li.head-table{padding: 20px 20px 25px;color:#7a7a7a;font-size:32px;font-weight:300;text-align:center;}
div.col ul li.price-cell{color:#000;font-size:40px;line-height:100%;text-align:center;padding:30px 0px;}
div.col ul li.price-cell span{font-size:13px;color:#848484;display:block;line-height:100%;}

#skill-list ul li{text-align: center;}
#skill-list ul li a.btn{padding:10px 25px;font-size: 17px;}
#skill-list ul li .small{font-size: 10px;}
#skill-list ul li.button{padding:25px 20px;text-align: center;}
#skill-list div.featured{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125); padding-bottom: 0;padding-top: 0;z-index: 99;}
#skill-list div.featured ul{margin-top: 0; padding-top: 0; margin-bottom: 0; border-bottom: 1px solid rgb(235, 235, 235);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);}
#skill-list div.featured .head-table{background: #FF2A13 none repeat scroll 0 0; color: #FFF; box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15) inset; padding-top: 20px; padding-bottom: 45px;}
#skill-list div.featured ul li.button{border-bottom: none;padding-bottom:45px;}
#skill-list .explanation{color: #848484;margin-top: 35px;display: inline-block;font-weight: 300;}

#flexibility-team{}
#flexibility-team p{font-size:24px;color:#848484;font-weight:300;line-height:170%;}

#services{background:#999 url(../images/videobg1.jpg) no-repeat center center;background-size:cover;padding:50px 0px 80px 0px;}
#services .inner{position: relative;color:#848484;}
#services h2.head-line{color:#000;}
#services .inner i{position: absolute;left:10px;top:10%;transition: all .3s ease-in-out;}
#services .inner:hover i{color:#000;transform: scale(1.2);}
#services ul{padding-left:66px;}
#services ul li{text-align:left;font-size:15px;padding:10px 0px;transition: all .3s ease-in-out;}
#services ul li:hover{color:#000;}
#services ul li.button{padding: 20px 0 25px;}
#services ul li.button a.btn{padding: 10px 15px}

#qualification{}
#qualification p{font-size:24px;color:#848484;font-weight:300;line-height:170%;}

#technology{background:#eee url(../images/bg2.png) repeat;color:#848484;padding:70px 0px;font-weight:300;}
#technology li{font-size:20px;padding:5px 0;}
#technology li i{padding-right:20px;display:inline-block;width:50px;text-align:center;transition: all .2s ease-in-out;}
#technology li:hover i{color:#000;transform: scale(1.4);}
#technology h2.head-line{font-size:40px;color:#000;}
#technology p{font-size:24px;}

#expert{background:#eee url(../images/bg-1.png) repeat;padding:70px 0px;text-align:right;font-weight:300;}
#expert h2{padding-top:150px;}
#expert p{font-size:24px;color:#848484;}

#meet-the-team{background:#999 url(../images/bg-community.jpg) no-repeat center center;background-size:cover;padding:200px 0px;color:#fff;text-shadow:0px 1px 6px #000;}
#meet-the-team-desc p{color:#848484;font-size:24px;font-weight:300;line-height:170%;}

#contact-us{background:#999 url(../images/bjarke.jpg) no-repeat center center;background-size:cover;padding:100px 0px;text-shadow:0px 1px 6px #000;color:#fff;font-weight:300;}
#contact-us h2{font-weight:300;line-height:170%;font-size:38px;}
#contact-us ul{list-style:none;margin-top:50px;padding-left:20px;}
#contact-us ul li{font-size:24px;padding:5px 0px;}
#contact-us ul li i{padding-right:20px;font-size:16px;}
#contact-us ul li a{text-decoration:none;color:#fff;}
#contact-us ul li a:hover{text-decoration:underline;}

#contact-form{padding:70px 0px;}
#contact-form input{transition: border linear 0.2s,box-shadow linear 0.2s;width:100%;}
#contact-form input[type="text"], select{box-sizing:border-box;width:100%;height:40px;margin-bottom:9px;border: 1px solid #ddd;padding: 0 0.65em;font-size: 13px;line-height:40px;color:#555;background-color:#fff;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
#contact-form textarea{box-sizing:border-box;width:100%;height:200px;margin-bottom:9px;border: 1px solid #ddd;padding: 0 0.65em;font-size: 13px;line-height:40px;color:#555;background-color:#fff;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
#contact-form input[type="submit"],#contact-form button{width: 100%;cursor: pointer;padding:20px 50px;font-size: 21px;font-weight:300;text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);text-transform: none;border:1px #ac1100;color: #fff;background-color: #ff2a13;border-radius: 0.225em;-webkit-box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);box-shadow: 0 0.25em 0 0 #a71000, 0 4px 9px rgba(0, 0, 0, 0.75);}
#contact-form p{font-size:24px;color:#848484;font-weight:300;}
#contact-form ul{margin-top:20px;}
#contact-form ul li{padding:5px 0px;font-size:20px;color:#848484;font-weight:300;}
#contact-form ul li i{font-size:14px;display:inline-block;width:20px;}
#contact-form #message_return,#contact-form #loading_submit,#loading_submit_dock{display: none}
#contact-form p#message_return.success,.x-content-dock p#message_return_dock.success{color:#006600;font-size: 18px;padding: 15px 0;text-align: center;}
#contact-form #message_return.warning,.x-content-dock #message_return_dock.warning{ color:#830909;font-size: 18px;padding: 15px 0;text-align: center;}

/** FOOTER **/
#footer .inner h4{  margin: 0 0 0.5em;  font-size: 150%;  font-style: normal;  font-weight: 300;  color: #272727;  }
#footer .inner h4 i{color: #B3B3B3;font-size: .9em}
#footer .inner{  color:#848484;  font-size: 15px;  font-weight: 400;  line-height: 1.7; text-align: left; }

/** FOOTER BOTTOM**/
#footer-bottom{padding: 0 0 10px;   text-align: center;  color: #7A7A7A; box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8) inset;  }
#footer-bottom ul{ line-height: 1.3;  margin: 10px 0;  list-style: outside none none; text-align: center;}
#footer-bottom ul li{display: inline-block; margin: 0 0.5em;}
#footer-bottom ul li a{ display: block; font-weight: 400; letter-spacing: 2px; text-transform: uppercase; color: #ff2a13;font-size: 10px;}
#footer-bottom ul.social-icons li a {font-size: 15px;}

.x-content-dock {width: 350px; left: -415px;-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #ffffff; border-color: #e5e5e5 #e5e5e5 -moz-use-text-color; border-image: none; border-width: 1px 1px 0; bottom: 0; box-shadow: 0 0.085em 0.5em 0 rgba(0, 0, 0, 0.165); padding: 30px; position: fixed; transform: translate3d(0px, 0px, 0px); transition: all 0.5s ease 0s; z-index: 1050; }
.x-close-content-dock { font-size: 12px; line-height: 1; position: absolute; right: 10px; text-decoration: none; top: 10px; }
.x-close-content-dock span { color: #d9d9d9 !important; transition: color 0.3s ease 0s; }
.x-content-dock .widget { color: #272727; text-shadow: none; }
.x-content-dock .x-btn-block { display: block; text-align: center; font-weight: 600 !important; }
.x-content-dock .h-widget { font-size: 1.65em; line-height: 1.2; margin: 0 0 0.5em; }
.x-content-dock h4 { font-size: 32px !important; font-weight: 700 !important; }
.x-content-dock.widget .h-widget::before,.x-content-dock .widget .h-widget::after { opacity: 0.35; }
.x-content-dock p { font-size: 21px !important; font-weight: 300 !important; line-height: 30px; margin-bottom: 20px; }
.x-content-dock #message_return_dock{padding:0!important;}
.x-content-dock .your-email input{background-color: #fff; border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555; display: inline-block; font-size: 13px; height: 2.65em; line-height: normal; margin-bottom: 9px; padding: 0 0.65em; box-sizing: border-box; width: 100%; }
.x-content-dock .btn{width: 100%;}


/* ==========================================================================
   1200px - 12 columns - 20px gutter
   ========================================================================== */

@media (min-width: 1200px) {

}
/* ==========================================================================
   1008px - 12 columns - 20px gutter
   ========================================================================== */

@media (min-width: 1008px) and (max-width: 1199px) {

}

/* ==========================================================================
   768px - 12 columns - 20px gutter
   ========================================================================== */
@media (min-width: 768px) and (max-width: 959px) {
    #nav ul{display:none;}
    a#nav-trigger{display:block;float:right;width:50px;height:50px;background-color:#fff;box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);border-radius:4px;margin:20px 15px 0px 0px;text-align:center;}
    a#nav-trigger img{width:30px;display:inline-block;text-align:center;margin-top:10px;}

    #nav ul{display:none;margin-top:90px;text-align:right;}
    #nav ul li{display:block;}
    #nav ul li a{display:block;line-height:50px;height:50px;padding:0px 15px 0px 0px;}
    #nav ul li:hover{box-shadow:none;}

    #nav ul li#flag{}
    #nav ul li#flag a#current-flag{display:none;}
    #nav ul li#flag div{position:static;width:100%;display:block;box-shadow:none;}
    #nav ul li#flag div a{display:inline-block;padding:10px 20px 0px 20px;}

    div.col{width:50%;}
    #expert h2{padding-top:20px;}
}

/* ==========================================================================
   Mobile
   ========================================================================== */
@media only screen and (max-width: 767px) {
    body{padding:0px;}
    .inner{padding:0px 15px;}
    div#logo a{padding-left:15px;}
    #qualifications-2 h2.head-line{font-size:40px !important;}

    a#nav-trigger{display:block;float:right;width:50px;height:50px;background-color:#fff;box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);border-radius:4px;margin:20px 15px 0px 0px;text-align:center;}
    a#nav-trigger img{width:30px;display:inline-block;text-align:center;margin-top:10px;}


    #nav ul{display:none;margin-top:90px;text-align:right;}
    #nav ul li{display:block;}
    #nav ul li a{display:block;line-height:50px;height:50px;padding:0px 15px 0px 0px;}
    #nav ul li:hover{box-shadow:none;}

    #nav ul li#flag{}
    #nav ul li#flag a#current-flag{display:none;}
    #nav ul li#flag div{position:static;width:100%;display:block;box-shadow:none;}
    #nav ul li#flag div a{display:inline-block;padding:10px 20px 0px 20px;}

    div.col{width:100%;}
    div.col ul li{border-right:1px solid #ebebeb;}
    div.col ul:nth-child(2n) li{border-right:1px solid #ebebeb;}

    #contact-us ul li{font-size:20px}
    #expert{text-align:center;}
    #expert h2{padding-top:20px;}
}

#big-video-wrap{position: absolute;top:0;left:0;}