/*
* Quantum Framework
*
* 1392px - 12 Columns - 50px Gutter
*
* Designed and built by Andrei Mititelu
* http://CommerceStrategist.com
*
*/


/* ==========================================================================
   960px - 12 columns - 20px gutter 
   ========================================================================== */

   /* Container */ 
   .container-12 { width: 960px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 60px; }
   .container-12 .grid-2 {  width: 140px; }
   .container-12 .grid-3 {  width: 220px; }
   .container-12 .grid-4 {  width: 300px; }
   .container-12 .grid-5 {  width: 380px; }
   .container-12 .grid-6 {  width: 460px; }
   .container-12 .grid-7 {  width: 540px; }
   .container-12 .grid-8 {  width: 620px; }
   .container-12 .grid-9 {  width: 700px; }
   .container-12 .grid-10 {  width: 780px; }
   .container-12 .grid-11 {  width: 860px; }
   .container-12 .grid-12 {  width: 940px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 80px; }
   .container-12 .offset-2 { padding-left: 160px; }
   .container-12 .offset-3 { padding-left: 240px; }
   .container-12 .offset-4 { padding-left: 320px; }
   .container-12 .offset-5 { padding-left: 400px; }
   .container-12 .offset-6 { padding-left: 480px; }
   .container-12 .offset-7 { padding-left: 560px; }
   .container-12 .offset-8 { padding-left: 640px; }
   .container-12 .offset-9 { padding-left: 720px; }
   .container-12 .offset-10 { padding-left: 800px; }
   .container-12 .offset-11 { padding-left: 880px; }

/* ==========================================================================
   1392px - 12 columns - 50px gutter 
   ========================================================================== */

   @media (min-width: 1392px) { 

   /* Container */ 
   .container-12 { width: 1392px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 25px; margin-right: 25px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 66px; }
   .container-12 .grid-2 {  width: 182px; }
   .container-12 .grid-3 {  width: 298px; }
   .container-12 .grid-4 {  width: 414px; }
   .container-12 .grid-5 {  width: 530px; }
   .container-12 .grid-6 {  width: 646px; }
   .container-12 .grid-7 {  width: 762px; }
   .container-12 .grid-8 {  width: 878px; }
   .container-12 .grid-9 {  width: 994px; }
   .container-12 .grid-10 {  width: 1110px; }
   .container-12 .grid-11 {  width: 1226px; }
   .container-12 .grid-12 {  width: 1342px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 116px; }
   .container-12 .offset-2 { padding-left: 232px; }
   .container-12 .offset-3 { padding-left: 348px; }
   .container-12 .offset-4 { padding-left: 464px; }
   .container-12 .offset-5 { padding-left: 580px; }
   .container-12 .offset-6 { padding-left: 696px; }
   .container-12 .offset-7 { padding-left: 812px; }
   .container-12 .offset-8 { padding-left: 928px; }
   .container-12 .offset-9 { padding-left: 1044px; }
   .container-12 .offset-10 { padding-left: 1160px; }
   .container-12 .offset-11 { padding-left: 1276px; }

   }

/* ==========================================================================
   1200px - 12 columns - 40px gutter 
   ========================================================================== */

   @media (min-width: 1200px) and (max-width: 1391px) { 

   /* Container */ 
   .container-12 { width: 1200px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 20px; margin-right: 20px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 60px; }
   .container-12 .grid-2 {  width: 160px; }
   .container-12 .grid-3 {  width: 260px; }
   .container-12 .grid-4 {  width: 360px; }
   .container-12 .grid-5 {  width: 460px; }
   .container-12 .grid-6 {  width: 560px; }
   .container-12 .grid-7 {  width: 660px; }
   .container-12 .grid-8 {  width: 760px; }
   .container-12 .grid-9 {  width: 860px; }
   .container-12 .grid-10 {  width: 960px; }
   .container-12 .grid-11 {  width: 1060px; }
   .container-12 .grid-12 {  width: 1160px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 100px; }
   .container-12 .offset-2 { padding-left: 200px; }
   .container-12 .offset-3 { padding-left: 300px; }
   .container-12 .offset-4 { padding-left: 400px; }
   .container-12 .offset-5 { padding-left: 500px; }
   .container-12 .offset-6 { padding-left: 600px; }
   .container-12 .offset-7 { padding-left: 700px; }
   .container-12 .offset-8 { padding-left: 800px; }
   .container-12 .offset-9 { padding-left: 900px; }
   .container-12 .offset-10 { padding-left: 1000px; }
   .container-12 .offset-11 { padding-left: 1100px; }

   }

/* ==========================================================================
   1008px - 12 columns - 30px gutter 
   ========================================================================== */

   @media (min-width: 1008px) and (max-width: 1199px) { 

   /* Container */ 
   .container-12 { width: 1008px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 15px; margin-right: 15px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 54px; }
   .container-12 .grid-2 {  width: 138px; }
   .container-12 .grid-3 {  width: 222px; }
   .container-12 .grid-4 {  width: 306px; }
   .container-12 .grid-5 {  width: 390px; }
   .container-12 .grid-6 {  width: 474px; }
   .container-12 .grid-7 {  width: 558px; }
   .container-12 .grid-8 {  width: 642px; }
   .container-12 .grid-9 {  width: 726px; }
   .container-12 .grid-10 {  width: 810px; }
   .container-12 .grid-11 {  width: 894px; }
   .container-12 .grid-12 {  width: 978px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 84px; }
   .container-12 .offset-2 { padding-left: 168px; }
   .container-12 .offset-3 { padding-left: 252px; }
   .container-12 .offset-4 { padding-left: 336px; }
   .container-12 .offset-5 { padding-left: 420px; }
   .container-12 .offset-6 { padding-left: 504px; }
   .container-12 .offset-7 { padding-left: 588px; }
   .container-12 .offset-8 { padding-left: 672px; }
   .container-12 .offset-9 { padding-left: 756px; }
   .container-12 .offset-10 { padding-left: 840px; }
   .container-12 .offset-11 { padding-left: 924px; }

   }

/* ==========================================================================
   768px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 768px) and (max-width: 959px) { 

   /* Container */ 
   .container-12 { width: 768px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 44px; }
   .container-12 .grid-2 {  width: 108px; }
   .container-12 .grid-3 {  width: 172px; }
   .container-12 .grid-4 {  width: 236px; }
   .container-12 .grid-5 {  width: 300px; }
   .container-12 .grid-6 {  width: 364px; }
   .container-12 .grid-7 {  width: 428px; }
   .container-12 .grid-8 {  width: 492px; }
   .container-12 .grid-9 {  width: 556px; }
   .container-12 .grid-10 {  width: 620px; }
   .container-12 .grid-11 {  width: 684px; }
   .container-12 .grid-12 {  width: 748px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 64px; }
   .container-12 .offset-2 { padding-left: 128px; }
   .container-12 .offset-3 { padding-left: 192px; }
   .container-12 .offset-4 { padding-left: 256px; }
   .container-12 .offset-5 { padding-left: 320px; }
   .container-12 .offset-6 { padding-left: 384px; }
   .container-12 .offset-7 { padding-left: 448px; }
   .container-12 .offset-8 { padding-left: 512px; }
   .container-12 .offset-9 { padding-left: 576px; }
   .container-12 .offset-10 { padding-left: 640px; }
   .container-12 .offset-11 { padding-left: 704px; }

   }

/* ==========================================================================
   Mobile 
   ========================================================================== */

   @media only screen and (max-width: 767px) {

   body { padding-left: 20px; padding-right: 20px; }

   /* Container */
   .container-12 { width: auto; }

   /* Global */
   [class*="grid-"] { display: block; margin-left: 0px; margin-right: 0px; }

   /* Nested Elements */
   .alpha { margin-left: 0px; }
   .omega { margin-right: 0px; }

   /* Grids */
   .container-12 .grid-1,
   .container-12 .grid-2,
   .container-12 .grid-3,
   .container-12 .grid-4,
   .container-12 .grid-5,
   .container-12 .grid-6,
   .container-12 .grid-7,
   .container-12 .grid-8,
   .container-12 .grid-9,
   .container-12 .grid-10,
   .container-12 .grid-11,
   .container-12 .grid-12 { width: 100%; }

   /* Offset Extra Space */
   .container-12 .offset-1, 
   .container-12 .offset-2, 
   .container-12 .offset-3, 
   .container-12 .offset-4, 
   .container-12 .offset-5, 
   .container-12 .offset-6, 
   .container-12 .offset-7, 
   .container-12 .offset-8, 
   .container-12 .offset-9, 
   .container-12 .offset-10, 
   .container-12 .offset-11 { padding-left: 0; }

   }