/*
* Quantum Framework
*
* 1680px - 16 Columns - 50px Gutter
*
* Designed and built by Andrei Mititelu
* http://CommerceStrategist.com
*
*/


/* ==========================================================================
   960px - 16 columns - 20px gutter 
   ========================================================================== */

   /* Container */ 
   .container-16 { width: 960px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 40px; }
   .container-16 .grid-2 {  width: 100px; }
   .container-16 .grid-3 {  width: 160px; }
   .container-16 .grid-4 {  width: 220px; }
   .container-16 .grid-5 {  width: 280px; }
   .container-16 .grid-6 {  width: 340px; }
   .container-16 .grid-7 {  width: 400px; }
   .container-16 .grid-8 {  width: 460px; }
   .container-16 .grid-9 {  width: 520px; }
   .container-16 .grid-10 {  width: 580px; }
   .container-16 .grid-11 {  width: 640px; }
   .container-16 .grid-12 {  width: 700px; }
   .container-16 .grid-13 {  width: 760px; }
   .container-16 .grid-14 {  width: 820px; }
   .container-16 .grid-15 {  width: 880px; }
   .container-16 .grid-16 {  width: 940px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 60px; }
   .container-16 .offset-2 { padding-left: 120px; }
   .container-16 .offset-3 { padding-left: 180px; }
   .container-16 .offset-4 { padding-left: 240px; }
   .container-16 .offset-5 { padding-left: 300px; }
   .container-16 .offset-6 { padding-left: 360px; }
   .container-16 .offset-7 { padding-left: 420px; }
   .container-16 .offset-8 { padding-left: 480px; }
   .container-16 .offset-9 { padding-left: 540px; }
   .container-16 .offset-10 { padding-left: 600px; }
   .container-16 .offset-11 { padding-left: 660px; }
   .container-16 .offset-12 { padding-left: 720px; }
   .container-16 .offset-13 { padding-left: 780px; }
   .container-16 .offset-14 { padding-left: 840px; }
   .container-16 .offset-15 { padding-left: 900px; }

/* ==========================================================================
   1680px - 16 columns - 50px gutter 
   ========================================================================== */

   @media (min-width: 1680px) { 

   /* Container */ 
   .container-16 { width: 1680px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 25px; margin-right: 25px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 55px; }
   .container-16 .grid-2 {  width: 160px; }
   .container-16 .grid-3 {  width: 265px; }
   .container-16 .grid-4 {  width: 370px; }
   .container-16 .grid-5 {  width: 475px; }
   .container-16 .grid-6 {  width: 580px; }
   .container-16 .grid-7 {  width: 685px; }
   .container-16 .grid-8 {  width: 790px; }
   .container-16 .grid-9 {  width: 895px; }
   .container-16 .grid-10 {  width: 1000px; }
   .container-16 .grid-11 {  width: 1105px; }
   .container-16 .grid-12 {  width: 1210px; }
   .container-16 .grid-13 {  width: 1315px; }
   .container-16 .grid-14 {  width: 1420px; }
   .container-16 .grid-15 {  width: 1525px; }
   .container-16 .grid-16 {  width: 1630px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 105px; }
   .container-16 .offset-2 { padding-left: 210px; }
   .container-16 .offset-3 { padding-left: 315px; }
   .container-16 .offset-4 { padding-left: 420px; }
   .container-16 .offset-5 { padding-left: 525px; }
   .container-16 .offset-6 { padding-left: 630px; }
   .container-16 .offset-7 { padding-left: 735px; }
   .container-16 .offset-8 { padding-left: 840px; }
   .container-16 .offset-9 { padding-left: 945px; }
   .container-16 .offset-10 { padding-left: 1050px; }
   .container-16 .offset-11 { padding-left: 1155px; }
   .container-16 .offset-12 { padding-left: 1260px; }
   .container-16 .offset-13 { padding-left: 1365px; }
   .container-16 .offset-14 { padding-left: 1470px; }
   .container-16 .offset-15 { padding-left: 1575px; }

   }

/* ==========================================================================
   1488px - 16 columns - 40px gutter 
   ========================================================================== */

   @media (min-width: 1488px) and (max-width: 1679px) { 

   /* Container */ 
   .container-16 { width: 1488px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 20px; margin-right: 20px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 53px; }
   .container-16 .grid-2 {  width: 146px; }
   .container-16 .grid-3 {  width: 239px; }
   .container-16 .grid-4 {  width: 332px; }
   .container-16 .grid-5 {  width: 425px; }
   .container-16 .grid-6 {  width: 518px; }
   .container-16 .grid-7 {  width: 611px; }
   .container-16 .grid-8 {  width: 704px; }
   .container-16 .grid-9 {  width: 797px; }
   .container-16 .grid-10 {  width: 890px; }
   .container-16 .grid-11 {  width: 983px; }
   .container-16 .grid-12 {  width: 1076px; }
   .container-16 .grid-13 {  width: 1169px; }
   .container-16 .grid-14 {  width: 1262px; }
   .container-16 .grid-15 {  width: 1355px; }
   .container-16 .grid-16 {  width: 1448px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 93px; }
   .container-16 .offset-2 { padding-left: 186px; }
   .container-16 .offset-3 { padding-left: 279px; }
   .container-16 .offset-4 { padding-left: 372px; }
   .container-16 .offset-5 { padding-left: 465px; }
   .container-16 .offset-6 { padding-left: 558px; }
   .container-16 .offset-7 { padding-left: 651px; }
   .container-16 .offset-8 { padding-left: 744px; }
   .container-16 .offset-9 { padding-left: 837px; }
   .container-16 .offset-10 { padding-left: 930px; }
   .container-16 .offset-11 { padding-left: 1023px; }
   .container-16 .offset-12 { padding-left: 1116px; }
   .container-16 .offset-13 { padding-left: 1209px; }
   .container-16 .offset-14 { padding-left: 1302px; }
   .container-16 .offset-15 { padding-left: 1395px; }

   }

/* ==========================================================================
   1296px - 16 columns - 30px gutter 
   ========================================================================== */

   @media (min-width: 1296px) and (max-width: 1487px) { 

   /* Container */ 
   .container-16 { width: 1296px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 15px; margin-right: 15px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 51px; }
   .container-16 .grid-2 {  width: 132px; }
   .container-16 .grid-3 {  width: 213px; }
   .container-16 .grid-4 {  width: 294px; }
   .container-16 .grid-5 {  width: 375px; }
   .container-16 .grid-6 {  width: 456px; }
   .container-16 .grid-7 {  width: 537px; }
   .container-16 .grid-8 {  width: 618px; }
   .container-16 .grid-9 {  width: 699px; }
   .container-16 .grid-10 {  width: 780px; }
   .container-16 .grid-11 {  width: 861px; }
   .container-16 .grid-12 {  width: 942px; }
   .container-16 .grid-13 {  width: 1023px; }
   .container-16 .grid-14 {  width: 1104px; }
   .container-16 .grid-15 {  width: 1185px; }
   .container-16 .grid-16 {  width: 1266px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 81px; }
   .container-16 .offset-2 { padding-left: 162px; }
   .container-16 .offset-3 { padding-left: 243px; }
   .container-16 .offset-4 { padding-left: 324px; }
   .container-16 .offset-5 { padding-left: 405px; }
   .container-16 .offset-6 { padding-left: 486px; }
   .container-16 .offset-7 { padding-left: 567px; }
   .container-16 .offset-8 { padding-left: 648px; }
   .container-16 .offset-9 { padding-left: 729px; }
   .container-16 .offset-10 { padding-left: 810px; }
   .container-16 .offset-11 { padding-left: 891px; }
   .container-16 .offset-12 { padding-left: 972px; }
   .container-16 .offset-13 { padding-left: 1053px; }
   .container-16 .offset-14 { padding-left: 1134px; }
   .container-16 .offset-15 { padding-left: 1215px; }

   }

/* ==========================================================================
   1104px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1104px) and (max-width: 1295px) { 

   /* Container */ 
   .container-16 { width: 1104px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 49px; }
   .container-16 .grid-2 {  width: 118px; }
   .container-16 .grid-3 {  width: 187px; }
   .container-16 .grid-4 {  width: 256px; }
   .container-16 .grid-5 {  width: 325px; }
   .container-16 .grid-6 {  width: 394px; }
   .container-16 .grid-7 {  width: 463px; }
   .container-16 .grid-8 {  width: 532px; }
   .container-16 .grid-9 {  width: 601px; }
   .container-16 .grid-10 {  width: 670px; }
   .container-16 .grid-11 {  width: 739px; }
   .container-16 .grid-12 {  width: 808px; }
   .container-16 .grid-13 {  width: 877px; }
   .container-16 .grid-14 {  width: 946px; }
   .container-16 .grid-15 {  width: 1015px; }
   .container-16 .grid-16 {  width: 1084px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 69px; }
   .container-16 .offset-2 { padding-left: 138px; }
   .container-16 .offset-3 { padding-left: 207px; }
   .container-16 .offset-4 { padding-left: 276px; }
   .container-16 .offset-5 { padding-left: 345px; }
   .container-16 .offset-6 { padding-left: 414px; }
   .container-16 .offset-7 { padding-left: 483px; }
   .container-16 .offset-8 { padding-left: 552px; }
   .container-16 .offset-9 { padding-left: 621px; }
   .container-16 .offset-10 { padding-left: 690px; }
   .container-16 .offset-11 { padding-left: 759px; }
   .container-16 .offset-12 { padding-left: 828px; }
   .container-16 .offset-13 { padding-left: 897px; }
   .container-16 .offset-14 { padding-left: 966px; }
   .container-16 .offset-15 { padding-left: 1035px; }

   }

/* ==========================================================================
   768px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 768px) and (max-width: 959px) { 

   /* Container */ 
   .container-16 { width: 768px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 28px; }
   .container-16 .grid-2 {  width: 76px; }
   .container-16 .grid-3 {  width: 124px; }
   .container-16 .grid-4 {  width: 172px; }
   .container-16 .grid-5 {  width: 220px; }
   .container-16 .grid-6 {  width: 268px; }
   .container-16 .grid-7 {  width: 316px; }
   .container-16 .grid-8 {  width: 364px; }
   .container-16 .grid-9 {  width: 412px; }
   .container-16 .grid-10 {  width: 460px; }
   .container-16 .grid-11 {  width: 508px; }
   .container-16 .grid-12 {  width: 556px; }
   .container-16 .grid-13 {  width: 604px; }
   .container-16 .grid-14 {  width: 652px; }
   .container-16 .grid-15 {  width: 700px; }
   .container-16 .grid-16 {  width: 748px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 48px; }
   .container-16 .offset-2 { padding-left: 96px; }
   .container-16 .offset-3 { padding-left: 144px; }
   .container-16 .offset-4 { padding-left: 192px; }
   .container-16 .offset-5 { padding-left: 240px; }
   .container-16 .offset-6 { padding-left: 288px; }
   .container-16 .offset-7 { padding-left: 336px; }
   .container-16 .offset-8 { padding-left: 384px; }
   .container-16 .offset-9 { padding-left: 432px; }
   .container-16 .offset-10 { padding-left: 480px; }
   .container-16 .offset-11 { padding-left: 528px; }
   .container-16 .offset-12 { padding-left: 576px; }
   .container-16 .offset-13 { padding-left: 624px; }
   .container-16 .offset-14 { padding-left: 672px; }
   .container-16 .offset-15 { padding-left: 720px; }

   }

/* ==========================================================================
   Mobile 
   ========================================================================== */

   @media only screen and (max-width: 767px) {

   body { padding-left: 20px; padding-right: 20px; }

   /* Container */
   .container-16 { width: auto; }

   /* Global */
   [class*="grid-"] { display: block; margin-left: 0px; margin-right: 0px; }

   /* Nested Elements */
   .alpha { margin-left: 0px; }
   .omega { margin-right: 0px; }

   /* Grids */
   .container-16 .grid-1,
   .container-16 .grid-2,
   .container-16 .grid-3,
   .container-16 .grid-4,
   .container-16 .grid-5,
   .container-16 .grid-6,
   .container-16 .grid-7,
   .container-16 .grid-8,
   .container-16 .grid-9,
   .container-16 .grid-10,
   .container-16 .grid-11,
   .container-16 .grid-12,
   .container-16 .grid-13,
   .container-16 .grid-14,
   .container-16 .grid-15,
   .container-16 .grid-16 { width: 100%; }

   /* Offset Extra Space */
   .container-16 .offset-1, 
   .container-16 .offset-2, 
   .container-16 .offset-3, 
   .container-16 .offset-4, 
   .container-16 .offset-5, 
   .container-16 .offset-6, 
   .container-16 .offset-7, 
   .container-16 .offset-8, 
   .container-16 .offset-9, 
   .container-16 .offset-10, 
   .container-16 .offset-11, 
   .container-16 .offset-12, 
   .container-16 .offset-13, 
   .container-16 .offset-14, 
   .container-16 .offset-15 { padding-left: 0; }

   }