/*
* Quantum Framework
*
* 1728px - 16 Columns - 20px Gutter
*
* Designed and built by Andrei Mititelu
* http://CommerceStrategist.com
*
*/


/* ==========================================================================
   960px - 16 columns - 20px gutter 
   ========================================================================== */

   /* Container */ 
   .container-16 { width: 960px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 40px; }
   .container-16 .grid-2 {  width: 100px; }
   .container-16 .grid-3 {  width: 160px; }
   .container-16 .grid-4 {  width: 220px; }
   .container-16 .grid-5 {  width: 280px; }
   .container-16 .grid-6 {  width: 340px; }
   .container-16 .grid-7 {  width: 400px; }
   .container-16 .grid-8 {  width: 460px; }
   .container-16 .grid-9 {  width: 520px; }
   .container-16 .grid-10 {  width: 580px; }
   .container-16 .grid-11 {  width: 640px; }
   .container-16 .grid-12 {  width: 700px; }
   .container-16 .grid-13 {  width: 760px; }
   .container-16 .grid-14 {  width: 820px; }
   .container-16 .grid-15 {  width: 880px; }
   .container-16 .grid-16 {  width: 940px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 60px; }
   .container-16 .offset-2 { padding-left: 120px; }
   .container-16 .offset-3 { padding-left: 180px; }
   .container-16 .offset-4 { padding-left: 240px; }
   .container-16 .offset-5 { padding-left: 300px; }
   .container-16 .offset-6 { padding-left: 360px; }
   .container-16 .offset-7 { padding-left: 420px; }
   .container-16 .offset-8 { padding-left: 480px; }
   .container-16 .offset-9 { padding-left: 540px; }
   .container-16 .offset-10 { padding-left: 600px; }
   .container-16 .offset-11 { padding-left: 660px; }
   .container-16 .offset-12 { padding-left: 720px; }
   .container-16 .offset-13 { padding-left: 780px; }
   .container-16 .offset-14 { padding-left: 840px; }
   .container-16 .offset-15 { padding-left: 900px; }

/* ==========================================================================
   1728px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1728px) { 

   /* Container */ 
   .container-16 { width: 1728px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 88px; }
   .container-16 .grid-2 {  width: 196px; }
   .container-16 .grid-3 {  width: 304px; }
   .container-16 .grid-4 {  width: 412px; }
   .container-16 .grid-5 {  width: 520px; }
   .container-16 .grid-6 {  width: 628px; }
   .container-16 .grid-7 {  width: 736px; }
   .container-16 .grid-8 {  width: 844px; }
   .container-16 .grid-9 {  width: 952px; }
   .container-16 .grid-10 {  width: 1060px; }
   .container-16 .grid-11 {  width: 1168px; }
   .container-16 .grid-12 {  width: 1276px; }
   .container-16 .grid-13 {  width: 1384px; }
   .container-16 .grid-14 {  width: 1492px; }
   .container-16 .grid-15 {  width: 1600px; }
   .container-16 .grid-16 {  width: 1708px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 108px; }
   .container-16 .offset-2 { padding-left: 216px; }
   .container-16 .offset-3 { padding-left: 324px; }
   .container-16 .offset-4 { padding-left: 432px; }
   .container-16 .offset-5 { padding-left: 540px; }
   .container-16 .offset-6 { padding-left: 648px; }
   .container-16 .offset-7 { padding-left: 756px; }
   .container-16 .offset-8 { padding-left: 864px; }
   .container-16 .offset-9 { padding-left: 972px; }
   .container-16 .offset-10 { padding-left: 1080px; }
   .container-16 .offset-11 { padding-left: 1188px; }
   .container-16 .offset-12 { padding-left: 1296px; }
   .container-16 .offset-13 { padding-left: 1404px; }
   .container-16 .offset-14 { padding-left: 1512px; }
   .container-16 .offset-15 { padding-left: 1620px; }

   }

/* ==========================================================================
   1536px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1536px) and (max-width: 1727px) { 

   /* Container */ 
   .container-16 { width: 1536px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 76px; }
   .container-16 .grid-2 {  width: 172px; }
   .container-16 .grid-3 {  width: 268px; }
   .container-16 .grid-4 {  width: 364px; }
   .container-16 .grid-5 {  width: 460px; }
   .container-16 .grid-6 {  width: 556px; }
   .container-16 .grid-7 {  width: 652px; }
   .container-16 .grid-8 {  width: 748px; }
   .container-16 .grid-9 {  width: 844px; }
   .container-16 .grid-10 {  width: 940px; }
   .container-16 .grid-11 {  width: 1036px; }
   .container-16 .grid-12 {  width: 1132px; }
   .container-16 .grid-13 {  width: 1228px; }
   .container-16 .grid-14 {  width: 1324px; }
   .container-16 .grid-15 {  width: 1420px; }
   .container-16 .grid-16 {  width: 1516px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 96px; }
   .container-16 .offset-2 { padding-left: 192px; }
   .container-16 .offset-3 { padding-left: 288px; }
   .container-16 .offset-4 { padding-left: 384px; }
   .container-16 .offset-5 { padding-left: 480px; }
   .container-16 .offset-6 { padding-left: 576px; }
   .container-16 .offset-7 { padding-left: 672px; }
   .container-16 .offset-8 { padding-left: 768px; }
   .container-16 .offset-9 { padding-left: 864px; }
   .container-16 .offset-10 { padding-left: 960px; }
   .container-16 .offset-11 { padding-left: 1056px; }
   .container-16 .offset-12 { padding-left: 1152px; }
   .container-16 .offset-13 { padding-left: 1248px; }
   .container-16 .offset-14 { padding-left: 1344px; }
   .container-16 .offset-15 { padding-left: 1440px; }

   }

/* ==========================================================================
   1344px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1344px) and (max-width: 1535px) { 

   /* Container */ 
   .container-16 { width: 1344px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 64px; }
   .container-16 .grid-2 {  width: 148px; }
   .container-16 .grid-3 {  width: 232px; }
   .container-16 .grid-4 {  width: 316px; }
   .container-16 .grid-5 {  width: 400px; }
   .container-16 .grid-6 {  width: 484px; }
   .container-16 .grid-7 {  width: 568px; }
   .container-16 .grid-8 {  width: 652px; }
   .container-16 .grid-9 {  width: 736px; }
   .container-16 .grid-10 {  width: 820px; }
   .container-16 .grid-11 {  width: 904px; }
   .container-16 .grid-12 {  width: 988px; }
   .container-16 .grid-13 {  width: 1072px; }
   .container-16 .grid-14 {  width: 1156px; }
   .container-16 .grid-15 {  width: 1240px; }
   .container-16 .grid-16 {  width: 1324px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 84px; }
   .container-16 .offset-2 { padding-left: 168px; }
   .container-16 .offset-3 { padding-left: 252px; }
   .container-16 .offset-4 { padding-left: 336px; }
   .container-16 .offset-5 { padding-left: 420px; }
   .container-16 .offset-6 { padding-left: 504px; }
   .container-16 .offset-7 { padding-left: 588px; }
   .container-16 .offset-8 { padding-left: 672px; }
   .container-16 .offset-9 { padding-left: 756px; }
   .container-16 .offset-10 { padding-left: 840px; }
   .container-16 .offset-11 { padding-left: 924px; }
   .container-16 .offset-12 { padding-left: 1008px; }
   .container-16 .offset-13 { padding-left: 1092px; }
   .container-16 .offset-14 { padding-left: 1176px; }
   .container-16 .offset-15 { padding-left: 1260px; }

   }

/* ==========================================================================
   1152px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1152px) and (max-width: 1343px) { 

   /* Container */ 
   .container-16 { width: 1152px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 52px; }
   .container-16 .grid-2 {  width: 124px; }
   .container-16 .grid-3 {  width: 196px; }
   .container-16 .grid-4 {  width: 268px; }
   .container-16 .grid-5 {  width: 340px; }
   .container-16 .grid-6 {  width: 412px; }
   .container-16 .grid-7 {  width: 484px; }
   .container-16 .grid-8 {  width: 556px; }
   .container-16 .grid-9 {  width: 628px; }
   .container-16 .grid-10 {  width: 700px; }
   .container-16 .grid-11 {  width: 772px; }
   .container-16 .grid-12 {  width: 844px; }
   .container-16 .grid-13 {  width: 916px; }
   .container-16 .grid-14 {  width: 988px; }
   .container-16 .grid-15 {  width: 1060px; }
   .container-16 .grid-16 {  width: 1132px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 72px; }
   .container-16 .offset-2 { padding-left: 144px; }
   .container-16 .offset-3 { padding-left: 216px; }
   .container-16 .offset-4 { padding-left: 288px; }
   .container-16 .offset-5 { padding-left: 360px; }
   .container-16 .offset-6 { padding-left: 432px; }
   .container-16 .offset-7 { padding-left: 504px; }
   .container-16 .offset-8 { padding-left: 576px; }
   .container-16 .offset-9 { padding-left: 648px; }
   .container-16 .offset-10 { padding-left: 720px; }
   .container-16 .offset-11 { padding-left: 792px; }
   .container-16 .offset-12 { padding-left: 864px; }
   .container-16 .offset-13 { padding-left: 936px; }
   .container-16 .offset-14 { padding-left: 1008px; }
   .container-16 .offset-15 { padding-left: 1080px; }

   }

/* ==========================================================================
   768px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 768px) and (max-width: 959px) { 

   /* Container */ 
   .container-16 { width: 768px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 28px; }
   .container-16 .grid-2 {  width: 76px; }
   .container-16 .grid-3 {  width: 124px; }
   .container-16 .grid-4 {  width: 172px; }
   .container-16 .grid-5 {  width: 220px; }
   .container-16 .grid-6 {  width: 268px; }
   .container-16 .grid-7 {  width: 316px; }
   .container-16 .grid-8 {  width: 364px; }
   .container-16 .grid-9 {  width: 412px; }
   .container-16 .grid-10 {  width: 460px; }
   .container-16 .grid-11 {  width: 508px; }
   .container-16 .grid-12 {  width: 556px; }
   .container-16 .grid-13 {  width: 604px; }
   .container-16 .grid-14 {  width: 652px; }
   .container-16 .grid-15 {  width: 700px; }
   .container-16 .grid-16 {  width: 748px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 48px; }
   .container-16 .offset-2 { padding-left: 96px; }
   .container-16 .offset-3 { padding-left: 144px; }
   .container-16 .offset-4 { padding-left: 192px; }
   .container-16 .offset-5 { padding-left: 240px; }
   .container-16 .offset-6 { padding-left: 288px; }
   .container-16 .offset-7 { padding-left: 336px; }
   .container-16 .offset-8 { padding-left: 384px; }
   .container-16 .offset-9 { padding-left: 432px; }
   .container-16 .offset-10 { padding-left: 480px; }
   .container-16 .offset-11 { padding-left: 528px; }
   .container-16 .offset-12 { padding-left: 576px; }
   .container-16 .offset-13 { padding-left: 624px; }
   .container-16 .offset-14 { padding-left: 672px; }
   .container-16 .offset-15 { padding-left: 720px; }

   }

/* ==========================================================================
   Mobile 
   ========================================================================== */

   @media only screen and (max-width: 767px) {

   body { padding-left: 20px; padding-right: 20px; }

   /* Container */
   .container-16 { width: auto; }

   /* Global */
   [class*="grid-"] { display: block; margin-left: 0px; margin-right: 0px; }

   /* Nested Elements */
   .alpha { margin-left: 0px; }
   .omega { margin-right: 0px; }

   /* Grids */
   .container-16 .grid-1,
   .container-16 .grid-2,
   .container-16 .grid-3,
   .container-16 .grid-4,
   .container-16 .grid-5,
   .container-16 .grid-6,
   .container-16 .grid-7,
   .container-16 .grid-8,
   .container-16 .grid-9,
   .container-16 .grid-10,
   .container-16 .grid-11,
   .container-16 .grid-12,
   .container-16 .grid-13,
   .container-16 .grid-14,
   .container-16 .grid-15,
   .container-16 .grid-16 { width: 100%; }

   /* Offset Extra Space */
   .container-16 .offset-1, 
   .container-16 .offset-2, 
   .container-16 .offset-3, 
   .container-16 .offset-4, 
   .container-16 .offset-5, 
   .container-16 .offset-6, 
   .container-16 .offset-7, 
   .container-16 .offset-8, 
   .container-16 .offset-9, 
   .container-16 .offset-10, 
   .container-16 .offset-11, 
   .container-16 .offset-12, 
   .container-16 .offset-13, 
   .container-16 .offset-14, 
   .container-16 .offset-15 { padding-left: 0; }

   }