/*
* Quantum Framework
*
* 1728px - 12 Columns - 50px Gutter
*
* Designed and built by Andrei Mititelu
* http://CommerceStrategist.com
*
*/


/* ==========================================================================
   960px - 12 columns - 20px gutter 
   ========================================================================== */

   /* Container */ 
   .container-12 { width: 960px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 60px; }
   .container-12 .grid-2 {  width: 140px; }
   .container-12 .grid-3 {  width: 220px; }
   .container-12 .grid-4 {  width: 300px; }
   .container-12 .grid-5 {  width: 380px; }
   .container-12 .grid-6 {  width: 460px; }
   .container-12 .grid-7 {  width: 540px; }
   .container-12 .grid-8 {  width: 620px; }
   .container-12 .grid-9 {  width: 700px; }
   .container-12 .grid-10 {  width: 780px; }
   .container-12 .grid-11 {  width: 860px; }
   .container-12 .grid-12 {  width: 940px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 80px; }
   .container-12 .offset-2 { padding-left: 160px; }
   .container-12 .offset-3 { padding-left: 240px; }
   .container-12 .offset-4 { padding-left: 320px; }
   .container-12 .offset-5 { padding-left: 400px; }
   .container-12 .offset-6 { padding-left: 480px; }
   .container-12 .offset-7 { padding-left: 560px; }
   .container-12 .offset-8 { padding-left: 640px; }
   .container-12 .offset-9 { padding-left: 720px; }
   .container-12 .offset-10 { padding-left: 800px; }
   .container-12 .offset-11 { padding-left: 880px; }

/* ==========================================================================
   1728px - 12 columns - 50px gutter 
   ========================================================================== */

   @media (min-width: 1728px) { 

   /* Container */ 
   .container-12 { width: 1728px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 25px; margin-right: 25px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 94px; }
   .container-12 .grid-2 {  width: 238px; }
   .container-12 .grid-3 {  width: 382px; }
   .container-12 .grid-4 {  width: 526px; }
   .container-12 .grid-5 {  width: 670px; }
   .container-12 .grid-6 {  width: 814px; }
   .container-12 .grid-7 {  width: 958px; }
   .container-12 .grid-8 {  width: 1102px; }
   .container-12 .grid-9 {  width: 1246px; }
   .container-12 .grid-10 {  width: 1390px; }
   .container-12 .grid-11 {  width: 1534px; }
   .container-12 .grid-12 {  width: 1678px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 144px; }
   .container-12 .offset-2 { padding-left: 288px; }
   .container-12 .offset-3 { padding-left: 432px; }
   .container-12 .offset-4 { padding-left: 576px; }
   .container-12 .offset-5 { padding-left: 720px; }
   .container-12 .offset-6 { padding-left: 864px; }
   .container-12 .offset-7 { padding-left: 1008px; }
   .container-12 .offset-8 { padding-left: 1152px; }
   .container-12 .offset-9 { padding-left: 1296px; }
   .container-12 .offset-10 { padding-left: 1440px; }
   .container-12 .offset-11 { padding-left: 1584px; }

   }

/* ==========================================================================
   1536px - 12 columns - 40px gutter 
   ========================================================================== */

   @media (min-width: 1536px) and (max-width: 1727px) { 

   /* Container */ 
   .container-12 { width: 1536px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 20px; margin-right: 20px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 88px; }
   .container-12 .grid-2 {  width: 216px; }
   .container-12 .grid-3 {  width: 344px; }
   .container-12 .grid-4 {  width: 472px; }
   .container-12 .grid-5 {  width: 600px; }
   .container-12 .grid-6 {  width: 728px; }
   .container-12 .grid-7 {  width: 856px; }
   .container-12 .grid-8 {  width: 984px; }
   .container-12 .grid-9 {  width: 1112px; }
   .container-12 .grid-10 {  width: 1240px; }
   .container-12 .grid-11 {  width: 1368px; }
   .container-12 .grid-12 {  width: 1496px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 128px; }
   .container-12 .offset-2 { padding-left: 256px; }
   .container-12 .offset-3 { padding-left: 384px; }
   .container-12 .offset-4 { padding-left: 512px; }
   .container-12 .offset-5 { padding-left: 640px; }
   .container-12 .offset-6 { padding-left: 768px; }
   .container-12 .offset-7 { padding-left: 896px; }
   .container-12 .offset-8 { padding-left: 1024px; }
   .container-12 .offset-9 { padding-left: 1152px; }
   .container-12 .offset-10 { padding-left: 1280px; }
   .container-12 .offset-11 { padding-left: 1408px; }

   }

/* ==========================================================================
   1344px - 12 columns - 30px gutter 
   ========================================================================== */

   @media (min-width: 1344px) and (max-width: 1535px) { 

   /* Container */ 
   .container-12 { width: 1344px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 15px; margin-right: 15px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 82px; }
   .container-12 .grid-2 {  width: 194px; }
   .container-12 .grid-3 {  width: 306px; }
   .container-12 .grid-4 {  width: 418px; }
   .container-12 .grid-5 {  width: 530px; }
   .container-12 .grid-6 {  width: 642px; }
   .container-12 .grid-7 {  width: 754px; }
   .container-12 .grid-8 {  width: 866px; }
   .container-12 .grid-9 {  width: 978px; }
   .container-12 .grid-10 {  width: 1090px; }
   .container-12 .grid-11 {  width: 1202px; }
   .container-12 .grid-12 {  width: 1314px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 112px; }
   .container-12 .offset-2 { padding-left: 224px; }
   .container-12 .offset-3 { padding-left: 336px; }
   .container-12 .offset-4 { padding-left: 448px; }
   .container-12 .offset-5 { padding-left: 560px; }
   .container-12 .offset-6 { padding-left: 672px; }
   .container-12 .offset-7 { padding-left: 784px; }
   .container-12 .offset-8 { padding-left: 896px; }
   .container-12 .offset-9 { padding-left: 1008px; }
   .container-12 .offset-10 { padding-left: 1120px; }
   .container-12 .offset-11 { padding-left: 1232px; }

   }

/* ==========================================================================
   1152px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1152px) and (max-width: 1343px) { 

   /* Container */ 
   .container-12 { width: 1152px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 76px; }
   .container-12 .grid-2 {  width: 172px; }
   .container-12 .grid-3 {  width: 268px; }
   .container-12 .grid-4 {  width: 364px; }
   .container-12 .grid-5 {  width: 460px; }
   .container-12 .grid-6 {  width: 556px; }
   .container-12 .grid-7 {  width: 652px; }
   .container-12 .grid-8 {  width: 748px; }
   .container-12 .grid-9 {  width: 844px; }
   .container-12 .grid-10 {  width: 940px; }
   .container-12 .grid-11 {  width: 1036px; }
   .container-12 .grid-12 {  width: 1132px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 96px; }
   .container-12 .offset-2 { padding-left: 192px; }
   .container-12 .offset-3 { padding-left: 288px; }
   .container-12 .offset-4 { padding-left: 384px; }
   .container-12 .offset-5 { padding-left: 480px; }
   .container-12 .offset-6 { padding-left: 576px; }
   .container-12 .offset-7 { padding-left: 672px; }
   .container-12 .offset-8 { padding-left: 768px; }
   .container-12 .offset-9 { padding-left: 864px; }
   .container-12 .offset-10 { padding-left: 960px; }
   .container-12 .offset-11 { padding-left: 1056px; }

   }

/* ==========================================================================
   768px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 768px) and (max-width: 959px) { 

   /* Container */ 
   .container-12 { width: 768px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 44px; }
   .container-12 .grid-2 {  width: 108px; }
   .container-12 .grid-3 {  width: 172px; }
   .container-12 .grid-4 {  width: 236px; }
   .container-12 .grid-5 {  width: 300px; }
   .container-12 .grid-6 {  width: 364px; }
   .container-12 .grid-7 {  width: 428px; }
   .container-12 .grid-8 {  width: 492px; }
   .container-12 .grid-9 {  width: 556px; }
   .container-12 .grid-10 {  width: 620px; }
   .container-12 .grid-11 {  width: 684px; }
   .container-12 .grid-12 {  width: 748px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 64px; }
   .container-12 .offset-2 { padding-left: 128px; }
   .container-12 .offset-3 { padding-left: 192px; }
   .container-12 .offset-4 { padding-left: 256px; }
   .container-12 .offset-5 { padding-left: 320px; }
   .container-12 .offset-6 { padding-left: 384px; }
   .container-12 .offset-7 { padding-left: 448px; }
   .container-12 .offset-8 { padding-left: 512px; }
   .container-12 .offset-9 { padding-left: 576px; }
   .container-12 .offset-10 { padding-left: 640px; }
   .container-12 .offset-11 { padding-left: 704px; }

   }

/* ==========================================================================
   Mobile 
   ========================================================================== */

   @media only screen and (max-width: 767px) {

   body { padding-left: 20px; padding-right: 20px; }

   /* Container */
   .container-12 { width: auto; }

   /* Global */
   [class*="grid-"] { display: block; margin-left: 0px; margin-right: 0px; }

   /* Nested Elements */
   .alpha { margin-left: 0px; }
   .omega { margin-right: 0px; }

   /* Grids */
   .container-12 .grid-1,
   .container-12 .grid-2,
   .container-12 .grid-3,
   .container-12 .grid-4,
   .container-12 .grid-5,
   .container-12 .grid-6,
   .container-12 .grid-7,
   .container-12 .grid-8,
   .container-12 .grid-9,
   .container-12 .grid-10,
   .container-12 .grid-11,
   .container-12 .grid-12 { width: 100%; }

   /* Offset Extra Space */
   .container-12 .offset-1, 
   .container-12 .offset-2, 
   .container-12 .offset-3, 
   .container-12 .offset-4, 
   .container-12 .offset-5, 
   .container-12 .offset-6, 
   .container-12 .offset-7, 
   .container-12 .offset-8, 
   .container-12 .offset-9, 
   .container-12 .offset-10, 
   .container-12 .offset-11 { padding-left: 0; }

   }