/*
* Quantum Framework
*
* 1440px - 12 Columns - 20px Gutter
*
* Designed and built by Andrei Mititelu
* http://CommerceStrategist.com
*
*/


/* ==========================================================================
   960px - 12 columns - 20px gutter 
   ========================================================================== */

   /* Container */ 
   .container-12 { width: 960px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 60px; }
   .container-12 .grid-2 {  width: 140px; }
   .container-12 .grid-3 {  width: 220px; }
   .container-12 .grid-4 {  width: 300px; }
   .container-12 .grid-5 {  width: 380px; }
   .container-12 .grid-6 {  width: 460px; }
   .container-12 .grid-7 {  width: 540px; }
   .container-12 .grid-8 {  width: 620px; }
   .container-12 .grid-9 {  width: 700px; }
   .container-12 .grid-10 {  width: 780px; }
   .container-12 .grid-11 {  width: 860px; }
   .container-12 .grid-12 {  width: 940px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 80px; }
   .container-12 .offset-2 { padding-left: 160px; }
   .container-12 .offset-3 { padding-left: 240px; }
   .container-12 .offset-4 { padding-left: 320px; }
   .container-12 .offset-5 { padding-left: 400px; }
   .container-12 .offset-6 { padding-left: 480px; }
   .container-12 .offset-7 { padding-left: 560px; }
   .container-12 .offset-8 { padding-left: 640px; }
   .container-12 .offset-9 { padding-left: 720px; }
   .container-12 .offset-10 { padding-left: 800px; }
   .container-12 .offset-11 { padding-left: 880px; }

/* ==========================================================================
   1440px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1440px) { 

   /* Container */ 
   .container-12 { width: 1440px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 100px; }
   .container-12 .grid-2 {  width: 220px; }
   .container-12 .grid-3 {  width: 340px; }
   .container-12 .grid-4 {  width: 460px; }
   .container-12 .grid-5 {  width: 580px; }
   .container-12 .grid-6 {  width: 700px; }
   .container-12 .grid-7 {  width: 820px; }
   .container-12 .grid-8 {  width: 940px; }
   .container-12 .grid-9 {  width: 1060px; }
   .container-12 .grid-10 {  width: 1180px; }
   .container-12 .grid-11 {  width: 1300px; }
   .container-12 .grid-12 {  width: 1420px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 120px; }
   .container-12 .offset-2 { padding-left: 240px; }
   .container-12 .offset-3 { padding-left: 360px; }
   .container-12 .offset-4 { padding-left: 480px; }
   .container-12 .offset-5 { padding-left: 600px; }
   .container-12 .offset-6 { padding-left: 720px; }
   .container-12 .offset-7 { padding-left: 840px; }
   .container-12 .offset-8 { padding-left: 960px; }
   .container-12 .offset-9 { padding-left: 1080px; }
   .container-12 .offset-10 { padding-left: 1200px; }
   .container-12 .offset-11 { padding-left: 1320px; }

   }

/* ==========================================================================
   1248px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1248px) and (max-width: 1439px) { 

   /* Container */ 
   .container-12 { width: 1248px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 84px; }
   .container-12 .grid-2 {  width: 188px; }
   .container-12 .grid-3 {  width: 292px; }
   .container-12 .grid-4 {  width: 396px; }
   .container-12 .grid-5 {  width: 500px; }
   .container-12 .grid-6 {  width: 604px; }
   .container-12 .grid-7 {  width: 708px; }
   .container-12 .grid-8 {  width: 812px; }
   .container-12 .grid-9 {  width: 916px; }
   .container-12 .grid-10 {  width: 1020px; }
   .container-12 .grid-11 {  width: 1124px; }
   .container-12 .grid-12 {  width: 1228px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 104px; }
   .container-12 .offset-2 { padding-left: 208px; }
   .container-12 .offset-3 { padding-left: 312px; }
   .container-12 .offset-4 { padding-left: 416px; }
   .container-12 .offset-5 { padding-left: 520px; }
   .container-12 .offset-6 { padding-left: 624px; }
   .container-12 .offset-7 { padding-left: 728px; }
   .container-12 .offset-8 { padding-left: 832px; }
   .container-12 .offset-9 { padding-left: 936px; }
   .container-12 .offset-10 { padding-left: 1040px; }
   .container-12 .offset-11 { padding-left: 1144px; }

   }

/* ==========================================================================
   1056px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1056px) and (max-width: 1247px) { 

   /* Container */ 
   .container-12 { width: 1056px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 68px; }
   .container-12 .grid-2 {  width: 156px; }
   .container-12 .grid-3 {  width: 244px; }
   .container-12 .grid-4 {  width: 332px; }
   .container-12 .grid-5 {  width: 420px; }
   .container-12 .grid-6 {  width: 508px; }
   .container-12 .grid-7 {  width: 596px; }
   .container-12 .grid-8 {  width: 684px; }
   .container-12 .grid-9 {  width: 772px; }
   .container-12 .grid-10 {  width: 860px; }
   .container-12 .grid-11 {  width: 948px; }
   .container-12 .grid-12 {  width: 1036px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 88px; }
   .container-12 .offset-2 { padding-left: 176px; }
   .container-12 .offset-3 { padding-left: 264px; }
   .container-12 .offset-4 { padding-left: 352px; }
   .container-12 .offset-5 { padding-left: 440px; }
   .container-12 .offset-6 { padding-left: 528px; }
   .container-12 .offset-7 { padding-left: 616px; }
   .container-12 .offset-8 { padding-left: 704px; }
   .container-12 .offset-9 { padding-left: 792px; }
   .container-12 .offset-10 { padding-left: 880px; }
   .container-12 .offset-11 { padding-left: 968px; }

   }

/* ==========================================================================
   768px - 12 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 768px) and (max-width: 959px) { 

   /* Container */ 
   .container-12 { width: 768px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-12 .grid-1 {  width: 44px; }
   .container-12 .grid-2 {  width: 108px; }
   .container-12 .grid-3 {  width: 172px; }
   .container-12 .grid-4 {  width: 236px; }
   .container-12 .grid-5 {  width: 300px; }
   .container-12 .grid-6 {  width: 364px; }
   .container-12 .grid-7 {  width: 428px; }
   .container-12 .grid-8 {  width: 492px; }
   .container-12 .grid-9 {  width: 556px; }
   .container-12 .grid-10 {  width: 620px; }
   .container-12 .grid-11 {  width: 684px; }
   .container-12 .grid-12 {  width: 748px; }

   /* Offset Extra Space */ 
   .container-12 .offset-1 { padding-left: 64px; }
   .container-12 .offset-2 { padding-left: 128px; }
   .container-12 .offset-3 { padding-left: 192px; }
   .container-12 .offset-4 { padding-left: 256px; }
   .container-12 .offset-5 { padding-left: 320px; }
   .container-12 .offset-6 { padding-left: 384px; }
   .container-12 .offset-7 { padding-left: 448px; }
   .container-12 .offset-8 { padding-left: 512px; }
   .container-12 .offset-9 { padding-left: 576px; }
   .container-12 .offset-10 { padding-left: 640px; }
   .container-12 .offset-11 { padding-left: 704px; }

   }

/* ==========================================================================
   Mobile 
   ========================================================================== */

   @media only screen and (max-width: 767px) {

   body { padding-left: 20px; padding-right: 20px; }

   /* Container */
   .container-12 { width: auto; }

   /* Global */
   [class*="grid-"] { display: block; margin-left: 0px; margin-right: 0px; }

   /* Nested Elements */
   .alpha { margin-left: 0px; }
   .omega { margin-right: 0px; }

   /* Grids */
   .container-12 .grid-1,
   .container-12 .grid-2,
   .container-12 .grid-3,
   .container-12 .grid-4,
   .container-12 .grid-5,
   .container-12 .grid-6,
   .container-12 .grid-7,
   .container-12 .grid-8,
   .container-12 .grid-9,
   .container-12 .grid-10,
   .container-12 .grid-11,
   .container-12 .grid-12 { width: 100%; }

   /* Offset Extra Space */
   .container-12 .offset-1, 
   .container-12 .offset-2, 
   .container-12 .offset-3, 
   .container-12 .offset-4, 
   .container-12 .offset-5, 
   .container-12 .offset-6, 
   .container-12 .offset-7, 
   .container-12 .offset-8, 
   .container-12 .offset-9, 
   .container-12 .offset-10, 
   .container-12 .offset-11 { padding-left: 0; }

   }