/*
* Quantum Framework
*
* 1584px - 16 Columns - 50px Gutter
*
* Designed and built by Andrei Mititelu
* http://CommerceStrategist.com
*
*/


/* ==========================================================================
   960px - 16 columns - 20px gutter 
   ========================================================================== */

   /* Container */ 
   .container-16 { width: 960px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 40px; }
   .container-16 .grid-2 {  width: 100px; }
   .container-16 .grid-3 {  width: 160px; }
   .container-16 .grid-4 {  width: 220px; }
   .container-16 .grid-5 {  width: 280px; }
   .container-16 .grid-6 {  width: 340px; }
   .container-16 .grid-7 {  width: 400px; }
   .container-16 .grid-8 {  width: 460px; }
   .container-16 .grid-9 {  width: 520px; }
   .container-16 .grid-10 {  width: 580px; }
   .container-16 .grid-11 {  width: 640px; }
   .container-16 .grid-12 {  width: 700px; }
   .container-16 .grid-13 {  width: 760px; }
   .container-16 .grid-14 {  width: 820px; }
   .container-16 .grid-15 {  width: 880px; }
   .container-16 .grid-16 {  width: 940px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 60px; }
   .container-16 .offset-2 { padding-left: 120px; }
   .container-16 .offset-3 { padding-left: 180px; }
   .container-16 .offset-4 { padding-left: 240px; }
   .container-16 .offset-5 { padding-left: 300px; }
   .container-16 .offset-6 { padding-left: 360px; }
   .container-16 .offset-7 { padding-left: 420px; }
   .container-16 .offset-8 { padding-left: 480px; }
   .container-16 .offset-9 { padding-left: 540px; }
   .container-16 .offset-10 { padding-left: 600px; }
   .container-16 .offset-11 { padding-left: 660px; }
   .container-16 .offset-12 { padding-left: 720px; }
   .container-16 .offset-13 { padding-left: 780px; }
   .container-16 .offset-14 { padding-left: 840px; }
   .container-16 .offset-15 { padding-left: 900px; }

/* ==========================================================================
   1584px - 16 columns - 50px gutter 
   ========================================================================== */

   @media (min-width: 1584px) { 

   /* Container */ 
   .container-16 { width: 1584px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 25px; margin-right: 25px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 49px; }
   .container-16 .grid-2 {  width: 148px; }
   .container-16 .grid-3 {  width: 247px; }
   .container-16 .grid-4 {  width: 346px; }
   .container-16 .grid-5 {  width: 445px; }
   .container-16 .grid-6 {  width: 544px; }
   .container-16 .grid-7 {  width: 643px; }
   .container-16 .grid-8 {  width: 742px; }
   .container-16 .grid-9 {  width: 841px; }
   .container-16 .grid-10 {  width: 940px; }
   .container-16 .grid-11 {  width: 1039px; }
   .container-16 .grid-12 {  width: 1138px; }
   .container-16 .grid-13 {  width: 1237px; }
   .container-16 .grid-14 {  width: 1336px; }
   .container-16 .grid-15 {  width: 1435px; }
   .container-16 .grid-16 {  width: 1534px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 99px; }
   .container-16 .offset-2 { padding-left: 198px; }
   .container-16 .offset-3 { padding-left: 297px; }
   .container-16 .offset-4 { padding-left: 396px; }
   .container-16 .offset-5 { padding-left: 495px; }
   .container-16 .offset-6 { padding-left: 594px; }
   .container-16 .offset-7 { padding-left: 693px; }
   .container-16 .offset-8 { padding-left: 792px; }
   .container-16 .offset-9 { padding-left: 891px; }
   .container-16 .offset-10 { padding-left: 990px; }
   .container-16 .offset-11 { padding-left: 1089px; }
   .container-16 .offset-12 { padding-left: 1188px; }
   .container-16 .offset-13 { padding-left: 1287px; }
   .container-16 .offset-14 { padding-left: 1386px; }
   .container-16 .offset-15 { padding-left: 1485px; }

   }

/* ==========================================================================
   1392px - 16 columns - 40px gutter 
   ========================================================================== */

   @media (min-width: 1392px) and (max-width: 1583px) { 

   /* Container */ 
   .container-16 { width: 1392px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 20px; margin-right: 20px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 47px; }
   .container-16 .grid-2 {  width: 134px; }
   .container-16 .grid-3 {  width: 221px; }
   .container-16 .grid-4 {  width: 308px; }
   .container-16 .grid-5 {  width: 395px; }
   .container-16 .grid-6 {  width: 482px; }
   .container-16 .grid-7 {  width: 569px; }
   .container-16 .grid-8 {  width: 656px; }
   .container-16 .grid-9 {  width: 743px; }
   .container-16 .grid-10 {  width: 830px; }
   .container-16 .grid-11 {  width: 917px; }
   .container-16 .grid-12 {  width: 1004px; }
   .container-16 .grid-13 {  width: 1091px; }
   .container-16 .grid-14 {  width: 1178px; }
   .container-16 .grid-15 {  width: 1265px; }
   .container-16 .grid-16 {  width: 1352px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 87px; }
   .container-16 .offset-2 { padding-left: 174px; }
   .container-16 .offset-3 { padding-left: 261px; }
   .container-16 .offset-4 { padding-left: 348px; }
   .container-16 .offset-5 { padding-left: 435px; }
   .container-16 .offset-6 { padding-left: 522px; }
   .container-16 .offset-7 { padding-left: 609px; }
   .container-16 .offset-8 { padding-left: 696px; }
   .container-16 .offset-9 { padding-left: 783px; }
   .container-16 .offset-10 { padding-left: 870px; }
   .container-16 .offset-11 { padding-left: 957px; }
   .container-16 .offset-12 { padding-left: 1044px; }
   .container-16 .offset-13 { padding-left: 1131px; }
   .container-16 .offset-14 { padding-left: 1218px; }
   .container-16 .offset-15 { padding-left: 1305px; }

   }

/* ==========================================================================
   1200px - 16 columns - 30px gutter 
   ========================================================================== */

   @media (min-width: 1200px) and (max-width: 1391px) { 

   /* Container */ 
   .container-16 { width: 1200px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 15px; margin-right: 15px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 45px; }
   .container-16 .grid-2 {  width: 120px; }
   .container-16 .grid-3 {  width: 195px; }
   .container-16 .grid-4 {  width: 270px; }
   .container-16 .grid-5 {  width: 345px; }
   .container-16 .grid-6 {  width: 420px; }
   .container-16 .grid-7 {  width: 495px; }
   .container-16 .grid-8 {  width: 570px; }
   .container-16 .grid-9 {  width: 645px; }
   .container-16 .grid-10 {  width: 720px; }
   .container-16 .grid-11 {  width: 795px; }
   .container-16 .grid-12 {  width: 870px; }
   .container-16 .grid-13 {  width: 945px; }
   .container-16 .grid-14 {  width: 1020px; }
   .container-16 .grid-15 {  width: 1095px; }
   .container-16 .grid-16 {  width: 1170px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 75px; }
   .container-16 .offset-2 { padding-left: 150px; }
   .container-16 .offset-3 { padding-left: 225px; }
   .container-16 .offset-4 { padding-left: 300px; }
   .container-16 .offset-5 { padding-left: 375px; }
   .container-16 .offset-6 { padding-left: 450px; }
   .container-16 .offset-7 { padding-left: 525px; }
   .container-16 .offset-8 { padding-left: 600px; }
   .container-16 .offset-9 { padding-left: 675px; }
   .container-16 .offset-10 { padding-left: 750px; }
   .container-16 .offset-11 { padding-left: 825px; }
   .container-16 .offset-12 { padding-left: 900px; }
   .container-16 .offset-13 { padding-left: 975px; }
   .container-16 .offset-14 { padding-left: 1050px; }
   .container-16 .offset-15 { padding-left: 1125px; }

   }

/* ==========================================================================
   1008px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 1008px) and (max-width: 1199px) { 

   /* Container */ 
   .container-16 { width: 1008px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 43px; }
   .container-16 .grid-2 {  width: 106px; }
   .container-16 .grid-3 {  width: 169px; }
   .container-16 .grid-4 {  width: 232px; }
   .container-16 .grid-5 {  width: 295px; }
   .container-16 .grid-6 {  width: 358px; }
   .container-16 .grid-7 {  width: 421px; }
   .container-16 .grid-8 {  width: 484px; }
   .container-16 .grid-9 {  width: 547px; }
   .container-16 .grid-10 {  width: 610px; }
   .container-16 .grid-11 {  width: 673px; }
   .container-16 .grid-12 {  width: 736px; }
   .container-16 .grid-13 {  width: 799px; }
   .container-16 .grid-14 {  width: 862px; }
   .container-16 .grid-15 {  width: 925px; }
   .container-16 .grid-16 {  width: 988px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 63px; }
   .container-16 .offset-2 { padding-left: 126px; }
   .container-16 .offset-3 { padding-left: 189px; }
   .container-16 .offset-4 { padding-left: 252px; }
   .container-16 .offset-5 { padding-left: 315px; }
   .container-16 .offset-6 { padding-left: 378px; }
   .container-16 .offset-7 { padding-left: 441px; }
   .container-16 .offset-8 { padding-left: 504px; }
   .container-16 .offset-9 { padding-left: 567px; }
   .container-16 .offset-10 { padding-left: 630px; }
   .container-16 .offset-11 { padding-left: 693px; }
   .container-16 .offset-12 { padding-left: 756px; }
   .container-16 .offset-13 { padding-left: 819px; }
   .container-16 .offset-14 { padding-left: 882px; }
   .container-16 .offset-15 { padding-left: 945px; }

   }

/* ==========================================================================
   768px - 16 columns - 20px gutter 
   ========================================================================== */

   @media (min-width: 768px) and (max-width: 959px) { 

   /* Container */ 
   .container-16 { width: 768px; margin: 0 auto; } 

   /* Global */ 
   [class*="grid-"] { float: left; display: inline; margin-left: 10px; margin-right: 10px; } 
   .group:before, .group:after { content: ""; display: table; line-height: 0; } 
   .group:after { clear: both; } 

   /* Nested elements */ 
   .alpha { margin-left: 0px; } 
   .omega { margin-right: 0px; } 

   /* Grids */ 
   .container-16 .grid-1 {  width: 28px; }
   .container-16 .grid-2 {  width: 76px; }
   .container-16 .grid-3 {  width: 124px; }
   .container-16 .grid-4 {  width: 172px; }
   .container-16 .grid-5 {  width: 220px; }
   .container-16 .grid-6 {  width: 268px; }
   .container-16 .grid-7 {  width: 316px; }
   .container-16 .grid-8 {  width: 364px; }
   .container-16 .grid-9 {  width: 412px; }
   .container-16 .grid-10 {  width: 460px; }
   .container-16 .grid-11 {  width: 508px; }
   .container-16 .grid-12 {  width: 556px; }
   .container-16 .grid-13 {  width: 604px; }
   .container-16 .grid-14 {  width: 652px; }
   .container-16 .grid-15 {  width: 700px; }
   .container-16 .grid-16 {  width: 748px; }

   /* Offset Extra Space */ 
   .container-16 .offset-1 { padding-left: 48px; }
   .container-16 .offset-2 { padding-left: 96px; }
   .container-16 .offset-3 { padding-left: 144px; }
   .container-16 .offset-4 { padding-left: 192px; }
   .container-16 .offset-5 { padding-left: 240px; }
   .container-16 .offset-6 { padding-left: 288px; }
   .container-16 .offset-7 { padding-left: 336px; }
   .container-16 .offset-8 { padding-left: 384px; }
   .container-16 .offset-9 { padding-left: 432px; }
   .container-16 .offset-10 { padding-left: 480px; }
   .container-16 .offset-11 { padding-left: 528px; }
   .container-16 .offset-12 { padding-left: 576px; }
   .container-16 .offset-13 { padding-left: 624px; }
   .container-16 .offset-14 { padding-left: 672px; }
   .container-16 .offset-15 { padding-left: 720px; }

   }

/* ==========================================================================
   Mobile 
   ========================================================================== */

   @media only screen and (max-width: 767px) {

   body { padding-left: 20px; padding-right: 20px; }

   /* Container */
   .container-16 { width: auto; }

   /* Global */
   [class*="grid-"] { display: block; margin-left: 0px; margin-right: 0px; }

   /* Nested Elements */
   .alpha { margin-left: 0px; }
   .omega { margin-right: 0px; }

   /* Grids */
   .container-16 .grid-1,
   .container-16 .grid-2,
   .container-16 .grid-3,
   .container-16 .grid-4,
   .container-16 .grid-5,
   .container-16 .grid-6,
   .container-16 .grid-7,
   .container-16 .grid-8,
   .container-16 .grid-9,
   .container-16 .grid-10,
   .container-16 .grid-11,
   .container-16 .grid-12,
   .container-16 .grid-13,
   .container-16 .grid-14,
   .container-16 .grid-15,
   .container-16 .grid-16 { width: 100%; }

   /* Offset Extra Space */
   .container-16 .offset-1, 
   .container-16 .offset-2, 
   .container-16 .offset-3, 
   .container-16 .offset-4, 
   .container-16 .offset-5, 
   .container-16 .offset-6, 
   .container-16 .offset-7, 
   .container-16 .offset-8, 
   .container-16 .offset-9, 
   .container-16 .offset-10, 
   .container-16 .offset-11, 
   .container-16 .offset-12, 
   .container-16 .offset-13, 
   .container-16 .offset-14, 
   .container-16 .offset-15 { padding-left: 0; }

   }